<ion-header>
  <img src="assets/imgs/likenutri.png">
</ion-header>
<ion-content padding>
  <div class="div-btn">
    <button class="facebook"(tap)="loginWithFacebook()">Entrar com o Facebook</button>
  </div>
  <form [formGroup]="form" (ngSubmit)="loginWithEmail()">
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input name="email" type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input name="password" type="password" formControlName="password"></ion-input>
    </ion-item>
    <span class="error-msg" *ngIf="form.controls.email.touched && form.controls.email.dirty && form.errors?.emailInvalid">
      Insira um e-mail válido
    </span>
    <span class="error-msg" *ngIf="form.controls.password.touched && form.controls.password.dirty && form.controls.password.invalid">
      Insira sua senha
    </span>
    <div class="div-btn">
      <button ion-button round outline color="secondary" type="submit" [disabled]="!form.valid">Entrar</button>
    </div>
  </form>
  <div class="div-btn">
    <button ion-button round outline color="secondary" (tap)="signup()">Cadastre-se</button>
  </div>
</ion-content>