<ion-header>
  <img src="assets/imgs/likenutri.png">
</ion-header>
<ion-content padding>
  <div *ngIf="questions.length">
    <span class="title">Quiz</span>
  </div>
  <div *ngIf="questions.length" class="question">{{questions[0].data().question}}</div>
  <div *ngIf="questions.length" class="options">
    <div class="item" (tap)="selected = 0">
      <div class="div-check">
        <ion-checkbox [checked]="selected == 0" disabled="true"></ion-checkbox>
      </div>
      <span>{{questions[0].data().options[0].description}}</span>
    </div>
    <div class="item" (tap)="selected = 1">
      <div class="div-check">
        <ion-checkbox [checked]="selected == 1" disabled="true"></ion-checkbox>
      </div>
      <span>{{questions[0].data().options[1].description}}</span>
    </div>
    <div class="item" (tap)="selected = 2">
      <div class="div-check">
        <ion-checkbox [checked]="selected == 2" disabled="true"></ion-checkbox>
      </div>
      <span>{{questions[0].data().options[2].description}}</span>
    </div>
  </div>
  <div *ngIf="questions.length" class="div-btn">
    <button ion-button round outline color="secondary" (tap)="confirm()" [disabled]="selected == null">Confirmar</button>
  </div>
</ion-content>
<div *ngIf="showFeedback" class="modal">
  <div class="content entering" [class.leaving]="leaving">
    <div class="title">Pontuação: {{questions[0].data().options[selected].value}}</div>
    <div class="text">{{questions[0].data().options[selected].feedback}}</div>
    <div class="btns">
      <button ion-button round outline (tap)="menu()">Menu</button>
      <button ion-button round outline (tap)="next()">Próximo</button>
    </div>
  </div>
</div>
