page-quiz {
  .content {
    background: color($colors, tertiary);
    .question {
      margin: 25px 0;
      font-weight: 900;
      font-size: 110%;
    }
    .options {
      text-align: start;
      .item {
        display: flex;
        min-height: 65px;
        align-items: center;
        .div-check {
          text-align: center;
          width: 14%;
          .checkbox-md {
            .checkbox-icon {
              border-color: white;
              .checkbox-inner {
                height: 14px;
                left: 5px;
              }
            }
          }
          .checkbox-ios {
            .checkbox-inner {
              height: 11px;
              border-width: 2px;
              border-top-width: 0;
              border-left-width: 0;
            }
          }
          .checkbox-disabled {
            opacity: 1 !important;
          }
        }
        span {
          width: 88%;
        }
      }
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
    .content {
      background: rgba(255, 255, 255, .9);
      width: 300px;
      min-height: 150px;
      .title {
        color: color($colors, primary);
        font-weight: 700;
      }
      .text {
        color: black;
        padding: 20px 15px 20px 15px;
      }
      .btns {
        padding-bottom: 10px;
      }
    }
    .entering {
      animation: bounce-in 0.5s;
      animation-direction: alternate;
    }
    .leaving {
      animation: bounce-out 0.5s;
      animation-direction: alternate;
    }
  }
}

@keyframes bounce-in {
  from { transform: translate3d(0, 200px, 0);     }
  to   { transform: translate3d(0, 0px, 0); }
}
@keyframes bounce-out {
  from { transform: translate3d(0, 0px, 0);     }
  to   { transform: translate3d(0, 200px, 0); }
}
