.loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  ion-spinner {
      width: 20vw !important;
      height: 20vw !important;
      // circle {
      //   stroke: white !important;
      // }
      // line {
      //   stroke: white !important;
      // }
  }
}

