<ion-header>
  <img src="assets/imgs/likenutri.png">
</ion-header>
<ion-content padding>
  <div *ngIf="ranking.length" class="title">Compare sua pontuação</div>
  <div *ngFor="let player of ranking" class="menu">
    <div class="item" [class.me]="player.id == user.providerData[0].uid">
      <div class="icon">
        <img class="photo" [src]="'https://graph.facebook.com/' + player.id + '/picture'">
      </div>
      <span class="description">{{player.name}}</span>
      <span class="score">{{player.score}} PTS</span>
    </div>
  </div>
  <div *ngIf="ranking.length" class="div-btn">
    <button ion-button round outline color="secondary" (tap)="navCtrl.pop()">Voltar</button>
  </div>
</ion-content>
